<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <!--android 13 and above-->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!-- New permission for specialUse foreground service -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>

    <queries>
        <!--android 11 and above-->
        <package android:name="com.slipstream.accuradio"/>
        <package android:name="com.spotify.music"/>
        <package android:name="com.aspiro.tidal"/>
        <package android:name="com.spotify.lite"/>
        <package android:name="com.pandora.android"/>
        <package android:name="com.slacker.radio"/>
        <package android:name="com.soundcloud.android"/>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Silence">

        <activity
            android:name=".AdSilenceActivity"
            android:excludeFromRecents="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".NotificationListener"
            android:label="@string/notification_listener_name"
            android:foregroundServiceType="specialUse"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="false">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="mute_audio_ads_monitor" />
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>
</manifest>
